In [9]:
# Import libraries and data
import tensorflow as tf
from sklearn.model_selection import train_test_split
from tensorflow import keras
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
import pandas as pd
from sklearn.metrics import accuracy_score

In [10]:
data = pd.read_csv('bank_marketing.csv')
data.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [11]:
# Scale the numeric columns
col_to_scale =['age']
data[col_to_scale] = scaler.fit_transform(data[col_to_scale])
data.head()

   y       age  marital  ever_defaulted  housing_loan  Personal_loan
0  0  0.500000        1               0             0              0
1  0  0.256410        1               0             1              0
2  0  0.294872        1               0             0              0
3  0  0.500000        1               0             0              1
4  0  0.538462        1               0             0              0

In [12]:
# Choose the independent and dependent variable
X = data.drop('y',axis = 1)
Y = data['y']

In [13]:
# Train, test/validation split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20, random_state = 42)
test_df = pd.concat ([X_test,y_test],axis =1 )

In [14]:
model = keras.Sequential([
keras.layers.Dense(3, input_shape = (5,),activation = 'relu'),
keras.layers.Dense(2, input_shape = (3,),activation = 'relu'), 
keras.layers.Dense(1,activation = 'sigmoid'),])

In [15]:
# Compile the network 
model.compile(optimizer ='adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [17]:
# train the model
model.fit(X_train,y_train,epochs = 5)

Epoch 1/5
WARNING:tensorflow:From C:\Users\Suprith Shettigar\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\Suprith Shettigar\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

794/794 [==============================] - 4s 2ms/step - loss: 0.5929 - accuracy: 0.8328
Epoch 2/5
794/794 [==============================] - 2s 2ms/step - loss: 0.4556 - accuracy: 0.8708
Epoch 3/5
794/794 [==============================] - 2s 2ms/step - loss: 0.4061 - accuracy: 0.8708
Epoch 4/5
794/794 [==============================] - 2s 2ms/step - loss: 0.3901 - accuracy: 0.8708
Epoch 5/5
794/794 [==============================] - 2s 2ms/step - loss: 0.3858 - accuracy: 0.8708

In [18]:
# Evaluate the model
model.evaluate(X_test,y_test)

199/199 [==============================] - 1s 2ms/step - loss: 0.3811 - accuracy: 0.8730

[0.3811466693878174, 0.8729534149169922]

In [19]:
# Predict based on ANN model
yp = model.predict(X_test)

199/199 [==============================] - 1s 2ms/step

In [21]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [22]:
# Check accuracy of the model
accuracy_score(y_test, y_pred)

0.8729534005037783