In [6]:
# Import your libraries and data
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [7]:
data = pd.read_csv('bank_marketing.csv')
data.head()

   y  age  marital  ever_defaulted  housing_loan  Personal_loan
0  0   56        1               0             0              0
1  0   37        1               0             1              0
2  0   40        1               0             0              0
3  0   56        1               0             0              1
4  0   59        1               0             0              0

In [8]:
# Choose the dependent and Independent variables
X = data[['age','marital','ever_defaulted','housing_loan','Personal_loan']]
Y = data[['y']]

In [9]:
# Train, test/validation split
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.20, 
random_state = 42)
test_df = pd.concat ([X_test,y_test],axis =1 )

In [10]:
# Initialize and train your model
abc = AdaBoostClassifier(random_state=0)
abc_model = abc.fit(X_train, y_train)

C:\Users\Suprith Shettigar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
# Predict the test data based on the trained model
abc_pred = abc_model.predict(X_test)
accuracy_score(y_test, abc_pred)

0.8721662468513854